
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Birthstone+Bounce:wght@500&family=WindSong:wght@500&display=swap');

body{
  background-color: #FFEADB;
  color: #679B9B;
  font-family: 'Montserrat', sans-serif;
  max-width: 1000px;
  margin: 0 auto;
  font-size: 22px;
}

header {
  display: flex;

}


/*
canvas.sketch2 {
  margin: auto;
  top:0px;
  left:0;
  position: absolute;
  z-index: -1;
  display: block;
} */

.main-title{
  display: inline-block;
  font-size: 28px;

}


.nav li {
  display: inline-block;
  font-size: 1.4em;
  font-weight:600;
}
.nav a {
  text-decoration: none;
  color:#637373;
  display: block;
  padding: 10px 10px;
}

.nav li a:hover{
  color: #DD903A;
}

.home-image{
  position: relative;
  margin: auto;
  text-align: center;
}


.example{
  text-align: left;
  font-weight: bold;
  font-size: 25px;
}

.about-tittle{
  position: relative;
  color:#DD903A;
  font-size: large;

}



.footer{
  text-align: center;
}
